packages:
  yum:
    postgresql94-devel: []

commands:
  01_upgrade_pip_global:
    command: "if test -e /usr/bin/pip; then sudo /usr/bin/pip install --upgrade pip; fi"

  02_upgrade_pip_global:
    command: "if test -e /usr/local/bin/pip; then sudo /usr/local/bin/pip install --upgrade pip; fi"

  03_upgrade_pip_for_venv:
    command: "if test -e /opt/python/run/venv/bin/pip; then sudo /opt/python/run/venv/bin/pip install --upgrade pip; fi"

  04_install_requirements:
    command: "if test -e /usr/bin/pip; then sudo /usr/bin/pip install -r requirements.txt; fi"
