{% extends "base.html" %}
{% block head %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}
{% block content %}
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.user_id }}

        <div class="form-group">
            {{ form.content(rows='10', cols='10', class='form-control') }}
        </div>
        <div class="btn-group">
            <a href="/pages" class="btn btn-danger">Cancel</a>
            <input type="submit" value="Commit" class="btn btn-warning">
        </div>
    </form>
{% endblock %}