{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="panel panel-default col-lg-12">
            <div class="panel-heading">
                <h1>Pages</h1>
            </div>
            <table width="100%" class="table table-bordered table-striped table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Page ID</th>
                        <th>User ID</th>
                        <th>Content</th>
                        <th></th>
                    </tr>
                </thead>
                {% for page in pages %}
                    <tr>
                        <td>{{ page.id }}</td>
                        <td>{{ page.user_id }}</td>
                        <td>{{ page.content[0:50] }}</td>
                        <td class="btn btn-group">
                            <a href="{{ page.id }}" class="btn btn-primary">Show</a>
                            <a href="{{ page.id }}/edit" class="btn btn-warning">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="panel-footer col-lg-12">
                <a href="new" class="btn btn-success col-lg-4 col-lg-offset-4">New page</a>
            </div>
        </div>
    </div>
{% endblock %}
