{% extends "base.html" %}
{% block content %}

   <h1>Pages</h1>
    <table width="100%" class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Page ID</td>
                <td>User ID</td>
                <td>Content</td>
            </tr>
        </thead>
        {% for page_id, user_id, content in pages %}
            <tr>
                <td>{{ page_id }}</td>
                <td>{{ user_id }}</td>
                <td>{{ content }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
