{% extends "base.html" %}
{% block head %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.user_id }}

        <div class="form-group">
            {{ form.content(rows='25', cols='20', class='form-control') }}
        </div>
        <input type="submit" value="Create" class="btn bg-primary">
    </form>
    <a href="/pages" class="btn btn-danger">Cancel</a>
{% endblock %}