{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="well col-lg-8 col-lg-offset-2">
                {{ content }}
            </div>
        </div>
        <div class="row">
            <div class="btn-group col-lg-12 col-lg-offset-3">
                <a href="/pages" class="btn btn-danger col-lg-3">Back</a>
                <a href="/pages/{{ page_id }}/edit" class="btn btn-warning col-lg-3">Edit</a>
            </div>
        </div>
    </div>
{% endblock %}