{% extends 'base.html' %}
{% block content %}
    {{ super() }}
    <div class="container-fluid">
        <div class="row">
            <div class="well col-lg-8 col-lg-offset-2">
                {{ content }}
            </div>
        </div>
        <div class="row">
            <div class="btn-group col-lg-8 col-lg-offset-2">
                <form action="/pages/{{ page_id }}/delete" method="post">
                    {{ form.csrf_token }}
                    <a href="/pages" class="btn btn-primary col-lg-4">Back</a>
                    <a href="/pages/{{ page_id }}/edit" class="btn btn-warning col-lg-4">Edit</a>
                    <input type="submit" value="Delete" class="btn btn-danger col-lg-4"/>
                </form>
            </div>
        </div>
        {% for comment in comments %}
            <div class="row">
                <div class="well col-lg-8 col-lg-offset-2">
                    <ul>
                        <li class="list-group-item panel panel-default">
                            <div class="panel-heading">
                                {{ comment.user_id }}
                            </div>
                            <div class="panel-body">
                                {{ comment.content }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}