{% extends "base.html" %}
{% block content %}

   <h1>Pages</h1>
    <table width="100%" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Page ID</th>
                <th>User ID</th>
                <th>Content</th>
            </tr>
        </thead>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.user_id }}</td>
                <td>{{ page.content[0:50] }}</td>
            </tr>
        {% endfor %}
    </table>

    <h1>Users</h1>
    <table width="100%" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
            </tr>
        {% endfor %}
    </table>

    <h1>Comments</h1>
    <table width="100%" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Comment ID</th>
                <th>Page ID</th>
                <th>User ID</th>
                <th>Content</th>
            </tr>
        </thead>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.page_id }}</td>
                <td>{{ comment.user_id }}</td>
                <td>{{ comment.content }}</td>
            </tr>
        {% endfor %}
    </table>

    <h1>Tags</h1>
    <table width="100%" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Tag ID</th>
                <th>Page ID</th>
                <th>Content</th>
            </tr>
        </thead>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.page_id }}</td>
                <td>{{ tag.content }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}