{% extends "bootstrap/base.html" %}
{% block title %}{% endblock %}
{% block navbar %}
    {{ nav.navbar.render() }}
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="row">
                    <div class="alert alert-{{ category }} alert-dismissable col-md-10 col-md-offset-1">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {% if category == 'warning' %}
                            <strong>Warning! </strong>
                        {% elif category == 'success' %}
                            <strong>Success! </strong>
                        {% elif category == 'danger' %}
                            <strong>Error! </strong>
                        {% endif %}
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}